
</div>
<script src="https://use.fontawesome.com/403f3467c6.js"></script>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Deep Sharma - 
<a href="https://www.facebook.com/profile.php?id=100009317059936"> <i class="fa fa-2x fa-facebook-square" aria-hidden="true">      </i></a>
<a href="">   <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
</p>
  </div>
</div>
</body>
</html>
